.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
}
.input {
  border: 1px solid var(--greyD9);
  width: 100%;
  height: 90px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  outline: none;
}
.input:focus {
  border: 1px solid var(--grey66);
}
.controls {
  display: flex;
  justify-content: space-between;
}
.buttons {
  flex-grow: 1;
  background: var(--greyC4);
  border-bottom-left-radius: 7px;
}
.button {
  width: 220px;
  height: 50px;
  background: var(--orange);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}
