.cardDropdownMenuMobile {
  display: none;
}
@media (max-width: 1024px) {
  .cardDropdownMenuMobile {
    position: absolute;
    top: 17px;
    right: 17px;
    display: flex;
    flex-direction: column;
  }
}
.dropdownMenuItem {
  display: flex;
  align-items: center;
  background: white;
  height: 37px;
  cursor: pointer;
}
.dropdownMenuItem:not(:last-child) {
  border-bottom: 1px solid #ececec;
}
.dropdownMenuItem:last-child {
  background: #d9d9d9;
  margin: 0 -20px;
}
.dropdownMenuItem > img {
  margin-right: 10px;
  min-width: 15px;
}
.dropdownMenuItem > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dropdownMenuItem > img + div {
  justify-content: flex-start;
}
