.card{
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
@media all and (min-width: 1024px) {
  .card{
    padding: 0 40px;
    align-items: center;
    flex-flow: row nowrap;
  }
  .card:not(:last-child){
    margin-bottom: 40px;
  }
}
.card > * {
  flex: 1 1 100%;
}