.comment {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.commentInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}
.userName {
  color: var(--orange);
}
.createdAt,
.createdAt * {
  color: var(--grey99);
  margin-left: 5px;
}
.commentControls {
  margin: 5px 0;
  display: flex;
}
.answerButton {
  width: 90px;
  height: 20px;
  background: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.answerButtonText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray99);
  margin-left: 5px;
}
.answerButton:active .answerButtonText {
  color: var(--orange);
}
